<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Rishav Ray">
    <meta name="google-signin-client_id" content="43485011077-027qkbinu13lr1esvh85v5oolgf33dhn.apps.googleusercontent.com">
    {% load static %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/megagramFavicon.png' %}">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'styles/loginStyles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
    <!--script src="https://accounts.google.com/gsi/client" async></script> <!--This is for Google O-Auth-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script type="module" src="{% static 'scripts/loginScript.js' %}"></script>
</head>

<body>
    <div id="loadingScreen" style="width: 30em; height: 30em; display: flex; flex-direction: column; justify-content: center;
    align-items: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);
    border-style: solid; border-radius: 15em; border-width: 0.1em; border-color: lightgray;">
        <h1 class="Megagram">Megagram</h1>
        <img src="{% static 'images/megagramLoading.png' %}" style="height:55%; width:55%; margin-left: 2em; object-fit:contain;">
    </div>

    <div id="loginScreen" style="display: none; flex-direction: column; justify-content: center; align-items: center;">
        <div style="display: flex; justify-content: center; align-items: center;">
            <div id="loginPhotoSlideshow" style="height: 50em; width: 33.44em; position: relative; margin-right: -30em;">
                <img class="slide" style="height: 100%; width: 100%; position: absolute; top: 7%; left: 0%;
                object-fit: contain; opacity: 0;" src="{% static 'images/instagramLoginPhoto.png' %}">
                <img class="slide" style="height: 100%; width: 100%; position: absolute; top: 7%; left: 0%;
                object-fit: contain;  opacity: 0;" src="{% static 'images/instagramLoginPhoto2.png' %}">
                <img class="slide" style="height: 100%; width: 100%; position: absolute; top: 7%; left: 0%;
                object-fit: contain;  opacity: 0;" src="{% static 'images/instagramLoginPhoto3.png' %}">
                <img class="slide" style="height: 100%; width: 100%; position: absolute; top: 7%; left: 0%;
                object-fit: contain;  opacity: 0;" src="{% static 'images/instagramLoginPhoto4.png' %}">
            </div>

            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 31.25em">
                <div class="box" style="margin-top:10em; height: 36em;">
                    <h1 class="Megagram">Megagram</h1>

                    <div style="position: relative;">
                        <input type="text" id="numberNameEmail" class="textInput" placeholder="Phone number, username, or email"
                        style="font-size: 0.94em;">
                        <p id="userContainerInfo" style="font-size: 0.625em; position: absolute; left: 0.375em;
                        top: -0.125em; color: gray; display: none;">Phone number, username, or email</p>
                    </div>

                    <br>

                    <div style="position: relative;">
                        <input type="password" id="password" class="textInput" placeholder="Password" style="font-size: 0.94em;">
                        <button style="display: none;" id="togglePassword" class="togglePassword">Show</button>
                        <p id="passwordContainerInfo" style="font-size: 0.625em; display: inline; position: absolute; left: 0.375em;
                        top: -0.125em; color: gray; display: none;">Password</p>
                    </div>

                    <br>

                    <div class="g-recaptcha"
                    data-sitekey="6Lc2v6EqAAAAAHTzpnopxnHFxUr-PNljcui_it3K"
                    data-callback='onSubmittingRecaptchaResults'
                    data-action='submit'>
                    </div>

                    <p id="recaptchaErrorMessage" class="errorMessage"></p>

                    <button type="button" class="blueButton" id="loginButton">Log in</button>
                    <p id="errorMessage" class="errorMessage"></p>

                    <div style="margin-top: 1.5em; margin-bottom: 1.5em;">
                        <p class="orLine">───────────</p><p id="OR">OR</p>
                        <p class="orLine" style="margin-left:0.5em;">───────────</p>
                    </div>

                    <button id="signInWithGoogle"></button>

                    <a id="forgotPassword" href="http://localhost:3001/forgotPassword" class="noUnderline" style="margin-top: 1.3em;">
                        Forgot Password?
                    </a>
                </div>

                <div class="box" style="height:50%; margin-top:0.5em;">
                    <p style="font-size:small;">Don't have an account? <a id="signupLink"
                    class="noUnderline" style="color:#2499f2; font-weight:500; cursor: pointer;">
                            Sign up</a>
                    </p>
                    <p style="font-size:small;">Browse without an account? <a href="https://www.google.com" class="noUnderline"
                    style="color:#2499f2; font-weight:500;">
                        Click here</a>
                    </p>
                </div>
            </div>
        </div>


        <footer style="margin-top: 16em; text-align: center; color: gray; font-size: 0.88em;">
            Megagram, a web-app that blends a bit of Instagram with a bit of Amazon, is a personal project created by Rishav Ray.
        </footer>
        
        <select style="margin-top: 1em; margin-bottom: 3em; padding: 0.8em 0.8em; outline: none;" onchange="setLanguage(this.value)">
            <option value="" disabled selected>Change Language</option>
            <option value="العربية">العربية</option>
            <option value="বাংলা">বাংলা</option>
            <option value="Deutsch">Deutsch</option>
            <option value="English">English</option>
            <option value="Español">Español</option>
            <option value="Français">Français</option>
            <option value="हिंदी">हिंदी</option>
            <option value="Bahasa Indonesia">Bahasa Indonesia</option>
            <option value="Italiano">Italiano</option>
            <option value="日本語">日本語</option>
            <option value="Русский">Русский</option>
            <option value="中国人">中国人</option>
        </select>
    </div>
</body>

</html>

