@media (prefers-color-scheme: dark) {
    body {
        background-color: #232424 !important;
        color: white !important;
    }

    .box {
        border-color: rgb(52, 50, 50) !important;
        background-color: #343333 !important;
    }

    .noUnderline {
        color: #2499f2 !important;
    }

    .noUnderline:hover {
        color: darkgreen !important;
    }

    select {
        background-color: #232424 !important;
        color: white !important;
    }
}

body {
    font-family: 'Arial';
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 24.375em;
    border-color: lightgray;
    border-width: 0.0125em;
    border-style: solid;
}

.blueButton {
    background-color: #82bbf5;
    color: white;
    width: 21.4em;
    height: 2.125em;
    border-radius: 0.4375em;
    border: none;
    font-weight: bold;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
    font-size: 0.78125em;
    margin-top: 1.125em;
}

.noUnderline {
    text-decoration: none;
    color: #2499f2;
    font-weight: bold;
    cursor: pointer;
}

.noUnderline:hover {
    text-decoration: underline;
    color: darkgreen;
}

select {
    background: white url('images/dropdownV.png') no-repeat right 0.625em center;
    background-size: 1em 1em;
    padding: 0.4375em 0.5em;
    background-color: #fff;
    border: 0.0375em solid #caced1;
    border-radius: 0.25rem;
    color: gray;
    font-size: 1em;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: red;
}

#whyBdayPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25em;
    height: 25em;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 0.9375em;
    display: none;
}

.instructions {
    color:gray;
    font-size:0.9em;
    margin-bottom: -1em;
}
