@font-face {
    font-family: Billabong;
    src: url('../fonts/billabong_regular.otf');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #232424 !important;
        color: white !important;
    }

    .box {
        border-color: rgb(52, 50, 50) !important;
        background-color: #343333 !important;
    }

    .noUnderline {
        color: #2499f2 !important;
    }

    .noUnderline:hover {
        color: darkgreen !important;
    }

    .textInput {
        background-color: lightgray !important;
    }

    select {
        background-color: #232424 !important;
        color: white !important;
    }
}

body {
    font-family: 'Arial';
    text-align: center;
}

#Megagram {
    font-family: Billabong;
    font-size: 3.4375em;
    font-weight: 100;
    user-select: none;
    cursor: pointer;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 24.375em;
    border-color: lightgray;
    border-width: 0.0125em;
    border-style: solid;
}

.textInput {
    width: 17.9375em;
    height: 3em;
    margin-top: 0.5em;
    background-color: #fafafa;
    border-radius: 0.125em;
    border-width: 0.0125em;
    padding-left: 1.5em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.textInput::placeholder {
    color: #636364;
    opacity: 1;
    font-size: 0.84375em;
}

.blueButton {
    background-color: #82bbf5;
    color: white;
    width: 20.5em;
    border-radius: 0.4375em;
    border: none;
    font-weight: bold;
    font-size: 0.78125em;
    margin-top: 1.125em;
    padding: 0.6em 0.6em;
}

#OR {
    display: inline;
    color: #696b69;
    font-weight: bold;
    font-size: 0.8125em;
}

.orLine {
    display: inline;
    top: 0.625em;
    color: lightgray;
    margin-right: 0.5em;
}

.noUnderline {
    text-decoration: none;
}

.noUnderline:hover {
    text-decoration: underline;
    color: darkgreen;
}

.togglePassword {
    position: absolute;
    right: 1.75em;
    top: 1.25em;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9375em;
    display: none;
}

.textInput:focus {
    outline: none;
    border: 0.0625em solid gray;
}

.checkmark {
    height: 50%;
    width: 50%;
    object-fit: contain;
    position: absolute;
    top: 1.0625em;
    right: -2em;
    display: none;
    pointer-events: none;
}

.wrong {
    height: 50%;
    width: 50%;
    object-fit: contain;
    position: absolute;
    top: 1.0625em;
    right: -2em;
    pointer-events: none;
    display: none;
}

.errorMessage {
    font-size:small;
    color: #ba3240;
    display: none;
    max-width: 70%;
}